@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background-color: #eef8ff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
.box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
}
.slide-img {
  height: 450px;
  position: relative;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: calibri;
}
.type {
  display: flex;
  flex-direction: column;
}
.type a {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
.type span {
  color: rgba(26, 26, 26, 0.5);
}
.price {
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;
}
.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92, 95, 236, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:hover {
  color: #ffffff;
  background-color: #f15fa3;
  transition: all ease 0.3s;
}
.overlay {
  visibility: hidden;
}
.slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.q1 {
  display: flex;
  justify-content: start;
  margin: 5%;
  color: #212121;
}
.q2 {
  display: flex;
  justify-content: center;
  color: #212121;
}
footer {
  background-color: #212121;
  color: white;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}
.logo-foot {
  width: 200px;
  margin-bottom: 15px;
}
.p-foot {
  margin: 5%;
}
.qn {
  padding-top: 3%;
  padding-left: 5%;
}
.detail-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
.icon {
  display: flex;
  justify-content: space-around;
  font-size: 21px;
}
.icon a {
  transition: 0.5s;
}
.watermark .bi:hover {
  transform: scale(1.2);
}
.icon a:hover {
  transform: scale(1.2);
  color: #54edc1;
}
@media screen and (max-width: 600px) {
  .detail-foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 0%;
  }
  form.search input {
    display: none;
  }
  .p-foot {
    margin: 0%;
  }
}
.icon {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5%;
  font-size: 20px;
}
.bi {
  color: white;
}
.watermark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0%;
  text-decoration: none;
}
.wm {
  text-decoration: none;
  color: #ffffff;
}
.prod2 {
  display: flex;
  justify-content: center;
}
.box2 {
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  object-fit: cover;
  background-color: #212121;
  transition: 0.6s;
}
.com2 {
  display: flex;
  justify-content: start;
  margin-left: 7%;
  font-size: large;
  font-weight: bold;
}
.slide-img2 {
  width: 100%;
}
.box2:hover .slide-img2 {
  transform: scale(1.2);
  transition: 0.6s;
}
.watermark .bi {
  color: #f15fa3;
  transition: 0.5s;
}
/*navbar right here*/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  padding: 10px;
  width: 100%;
  height: 50px;
  z-index: 2;
  transition: 0.6s;
}
header a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding-left: 15px;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  box-sizing: border-box;
  margin-right: 3%;
}
header a {
  font-size: 15px;
}
.banner img {
  width: 100%;
  object-fit: cover;
  height: 450px;
  opacity: 0.7;
}
.sticky {
  color: whi;
  background-color: rgba(21, 21, 21, 0.5);
  backdrop-filter: blur(20px);
  transition: 0.6s;
}
body.dark {
  background-color: #212121;
  transition: 0.5s;
}
/*asdfghj*/
.label {
  background-color: #212121;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 10px;
  width: 25px;
  margin-top: 2px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.bi-moon {
  color: #f1c40f;
  font-size: 10px;
}

.bi-sun {
  color: #f39c12;
  font-size: 10px;
}
